* html, body {
	font-family: source_sans_proregular, Arial, Verdana, Times, sans-serif;
	font-size: 16px;
}

header {
	background: url(../img/header-background.png) repeat-x 0 0;
	height: 318px;
	border: 0;
	padding: 0;
	margin: 0;
}

header h1 {
	font-family: source_sans_prosemibold, Arial, Verdana, Times, sans-serif;
	font-size: 60pt;
	color: #ffffff;
}

header h1 .light {
	font-family: source_sans_prolight, Arial, Verdana, Times, sans-serif;
}

.blockspace {
	margin: 25px 0;
}

.language-switch li {
	color: #808080;
}

.language-switch li.active {
	font-family: source_sans_prosemibold, Arial, Verdana, Times, sans-serif;
}

.language-switch a {
	color: #ffffff;
}

.beta {
	color: #000000;
	background-color: #f9e835;
	font-weight: bold;
	display: inline-block;
	padding: 2px 5px;
	border-radius: 3px;
}

.btn-yellow {
	color: #000000;
	background-color: #f9e835;
	font-weight: bold;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 3px;
	border: 1px solid #3f3f3f;
	margin: 15px 0;
}

.content-gray {
	height: 10px;
	background-color: #7f7f7f;
}

.content-gray-dark {
	height: 10px;
	background-color: #3f3f3f;
}

.content-black {
	background-color: #000000;
	color: #e1e1e1;
}

.content-black a {
	color: #e1e1e1;
	text-decoration: underline;
}

.content-black a:hover,
.content-black a:active,
.content-black a:focus {
	color: #ffffff;
	text-decoration: none;
}

@media screen and (max-width: 1024px) {
	header h1 {
		font-size: 35pt;
	}
}
