<div class="content-gray"></div>
<div class="content-gray-dark"></div>
<div class="content-black">

    <div class="container">
        <h2>Commitments</h2>
        <p>The following communities or events have committed to this code of conduct.</p>

        <table class="table">
            <tr>
                <td class="hidden-xs">
                    <img src="{{ project.getUrl('/img/commitments/php-usergroup-dresden-logo.png') }}"
                         alt="PHP USERGROUP DRESDEN e.V." class="img-responsive">
                </td>
                <td>
                    <b>PHP USERGROUP DRESDEN e.V.</b><br>
                    Fetscherstr. 36<br>
                    01307 Dresden
                </td>
                <td>
                    <i class="fa fa-external-link"></i>
                    <a href="http://phpug-dresden.org">http://phpug-dresden.org</a>
                    <br>
                    <i class="fa fa-envelope-o"></i>
                    <a href="mailto:&#111;&#114;&#103;&#097;&#064;&#112;&#104;&#112;&#117;&#103;&#045;&#100;&#114;&#101;&#115;&#100;&#101;&#110;&#046;&#111;&#114;&#103;">&#111;&#114;&#103;&#097;&#064;&#112;&#104;&#112;&#117;&#103;&#045;&#100;&#114;&#101;&#115;&#100;&#101;&#110;&#046;&#111;&#114;&#103;</a>
                </td>
            </tr>
            <tr>
                <td class="hidden-xs">
                    <img src="{{ project.getUrl('/img/commitments/php-developer-day-2017-logo.png') }}"
                         alt="PHP DEVELOPER DAY 2017" class="img-responsive">
                </td>
                <td>
                    <b>PHP Developer Day 2017</b><br>
                    Schützenplatz. 14<br>
                    01069 Dresden
                </td>
                <td>
                    <i class="fa fa-external-link"></i>
                    <a href="http://bit.ly/PHPDD17DE">http://bit.ly/PHPDD17DE</a>
                    <br>
                    <i class="fa fa-envelope-o"></i>
                    <a href="mailto:&#111;&#114;&#103;&#097;&#064;&#112;&#104;&#112;&#117;&#103;&#045;&#100;&#114;&#101;&#115;&#100;&#101;&#110;&#046;&#111;&#114;&#103;">&#111;&#114;&#103;&#097;&#064;&#112;&#104;&#112;&#117;&#103;&#045;&#100;&#114;&#101;&#115;&#100;&#101;&#110;&#046;&#111;&#114;&#103;</a>
                </td>
            </tr>
        </table>
    </div>

</div>
