<div class="content-gray"></div>
<div class="content-gray-dark"></div>
<div class="content-black">

    <div class="container">
        <h2>Commitments</h2>
        <p>The following communities or events have committed to this code of conduct.</p>

        <table class="table">
            <tr>
                <td class="hidden-xs">
                    <img src="{{ project.getUrl('/img/commitments/cpp-usergroup-dresden.png') }}"
                         alt="C++ USERGROUP DRESDEN" class="img-responsive">
                </td>
                <td>
                    <b>C++ USERGROUP DRESDEN</b><br>
                    Ansprechpartner:<br>
                    Andreas Reischuck<br>
                    Tel.: +49 179 8085150<br>
                    Twitter: <a href="https://twitter.com/arBmind" target="_blank">@arBmind</a>
                </td>
                <td>
                    <i class="fa fa-external-link"></i>
                    <a href="https://cpp-ug-dresden.blogspot.de" target="_blank">https://cpp-ug-dresden.blogspot.de</a>
                    <br>
                    <i class="fa fa-meetup"></i>
                    <a href="https://www.meetup.com/cpp-ug-dresden" target="_blank">https://www.meetup.com/cpp-ug-dresden</a>
                    <br>
                    <i class="fa fa-twitter"></i>
                    <a href="https://twitter.com/cppugdd" target="_blank">@cppugdd</a>
                </td>
            </tr>
            <tr>
                <td class="hidden-xs">
                    <img src="{{ project.getUrl('/img/commitments/php-usergroup-dresden-logo.png') }}"
                         alt="PHP USERGROUP DRESDEN e.V." class="img-responsive">
                </td>
                <td>
                    <b>PHP USERGROUP DRESDEN e.V.</b><br>
                    Fetscherstr. 36<br>
                    01307 Dresden<br>
                    Ansprechpartner:<br>
                    Holger Woltersdorf, Marcel F체hrer, Patrick P채chnatz<br>
                    Twitter: <a href="https://twitter.com/phpugdd" target="_blank">@phpugdd</a>
                </td>
                <td>
                    <i class="fa fa-external-link"></i>
                    <a href="http://phpug-dresden.org" target="_blank">http://phpug-dresden.org</a>
                    <br>
                    <i class="fa fa-meetup"></i>
                    <a href="https://www.meetup.com/PHP-USERGROUP-DRESDEN" target="_blank">https://www.meetup.com/PHP-USERGROUP-DRESDEN</a>
                    <br>
                    <i class="fa fa-envelope-o"></i>
                    <a href="mailto:&#111;&#114;&#103;&#097;&#064;&#112;&#104;&#112;&#117;&#103;&#045;&#100;&#114;&#101;&#115;&#100;&#101;&#110;&#046;&#111;&#114;&#103;">&#111;&#114;&#103;&#097;&#064;&#112;&#104;&#112;&#117;&#103;&#045;&#100;&#114;&#101;&#115;&#100;&#101;&#110;&#046;&#111;&#114;&#103;</a>
                </td>
            </tr>
            <tr>
                <td class="hidden-xs">
                    <img src="{{ project.getUrl('/img/commitments/dresden-weekly.jpg') }}"
                         alt="Dresden Weekly" class="img-responsive">
                </td>
                <td>
                    <b>Dresden Weekly</b><br>
                    Ansprechpartner:<br>
                    Andreas Reischuck<br>
                    Tel.: +49 179 8085150<br>
                    Twitter: <a href="https://twitter.com/arBmind" target="_blank">@arBmind</a>
                </td>
                <td>
                    <i class="fa fa-meetup"></i>
                    <a href="https://www.meetup.com/Dresden-Weekly" target="_blank">https://www.meetup.com/Dresden-Weekly</a>
                    <br>
                    <i class="fa fa-twitter"></i>
                    <a href="https://twitter.com/ddweekly" target="_blank">@ddweekly</a>
                </td>
            </tr>
            <tr>
                <td class="hidden-xs">
                    <img src="{{ project.getUrl('/img/commitments/php-developer-day-2017-logo.png') }}"
                         alt="PHP DEVELOPER DAY 2017" class="img-responsive">
                </td>
                <td>
                    <b>PHP Developer Day 2017</b><br>
                    Ansprechpartner:<br>
                    Holger Woltersdorf, Marcel F체hrer, Patrick P채chnatz<br>
                    Twitter: <a href="https://twitter.com/phpdd" target="_blank">@phpdd</a>
                </td>
                <td>
                    <i class="fa fa-external-link"></i>
                    <a href="https://2017.phpdd.org" target="_blank">https://2017.phpdd.org</a>
                    <br>
                    <i class="fa fa-envelope-o"></i>
                    <a href="mailto:&#111;&#114;&#103;&#097;&#064;&#112;&#104;&#112;&#117;&#103;&#045;&#100;&#114;&#101;&#115;&#100;&#101;&#110;&#046;&#111;&#114;&#103;">&#111;&#114;&#103;&#097;&#064;&#112;&#104;&#112;&#117;&#103;&#045;&#100;&#114;&#101;&#115;&#100;&#101;&#110;&#046;&#111;&#114;&#103;</a>
                </td>
            </tr>
        </table>
    </div>

</div>
